.quiz__container {
  height: 540px;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  position: absolute;
  top: 0;
  left: 0;
  margin: 30px;
  height: 50px;
  width: 140px;
  border-radius: 15px;
  background-color: rgb(42, 42, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@media (max-width: 1200px) {
  .quiz__container {
    height: 540px;
    width: 900px;
  }
}

@media (max-width: 900px) {
  .quiz__container {
    height: 540px;
    width: 650px;
    border-radius: 30px;
  }
}

@media (max-width: 425px) {
  .quiz__container {
    height: 440px;
    width: 330px;
    border-radius: 30px;
  }

  .score {
    margin: 2px;
    height: 30px;
    width: 100px;
    font-size: 18;
  }
}

@media (max-width: 350px) {
  .quiz__container {
    height: 400px;
    width: 280px;
    border-radius: 30px;
  }

  .score {
    margin: 2px;
    height: 25px;
    width: 100px;
    font-size: 16px;
  }
}
